* {
  margin: 0;
  border: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.all {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.color {
  /* border: solid; */
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 300px;
}

.box {
  width: 70%;
  height: 70px;
  border: solid;
}
button {
  z-index: 999;
  position: absolute;
}
