* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, #2d3e51, #4a9dab);
  height: 100%;
}
.above {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.all {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.box {
  width: 200px;
  height: 100px;
  border-radius: 2px;
  border: solid black 5px;
  margin: 0 5px;
  transition: 0.5s;
}
html {
  height: 100%;
}

.box:hover {
  width: 470px;
  height: 300px;
}
