*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
}


.box1 {
  width: 605px;
  height: 605px;
  border: solid black;
  margin: auto;
  border-radius: 2px;
}

.box2 {
  width: 585px;
  height: 585px;
  border: solid rgb(0, 255, 0);
  margin: auto;
  margin-top: 7px;
  border-radius: 2px;
}

.box3 {
  width: 565px;
  height: 565px;
  border: solid rgb(255, 0, 0);
  margin: auto;
  margin-top: 7px;
  border-radius: 2px;
}

.regularbox {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: solid 3px black;
}

.row {
  display: inline-block;
}

.violet {
  margin-left: 355px;
  margin-top: 495px;
}

.v {
  background-color: blueviolet;
}

.red {
  margin-top: -210px;
  margin-left: 285px;
}

.r {
  background-color: red;
}

.coral {
  margin-top: -210px;
  margin-left: 210px;
}

.c {
  background-color: rgb(255, 130, 130);
  margin: 4px;
}

.green {
  margin-left: 4px;
  margin-top: -140px;
}

.g {
  background-color: rgb(0, 255, 0);
}

.exile {
  margin-left: 70px;
  margin-bottom: 4px;
}

.gray {
  transform: rotate(180deg);

  margin-top: -431px;
  margin-right: 355px;

  /* для помилки таку, яку ти зробив, закоментуй те що зверху */
  /* і розкоментуй те, що знизу */

  /* margin-right: 355px;
margin-top: -422px; */
}

.gr {
  background-color: rgb(143, 138, 138);
}

.m {
  margin-top: 5px;
}

.b {
  margin-top: 5px;
}
