.above_all {
    border-radius: 20px;
    display: flex;
    height: 300px;
    width: 600px;
    box-shadow: 3px 3px 10px;
    border: solid;
    background-color: white;
    flex-direction: column;
}

body {
    background-color: brown;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

html {
    height: 90%;
}



.first_row {
    display: flex;
    height: 160px;
    width: 100%;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    background-color: rgb(10, 105, 73);
    border-bottom: 2px solid;
}

.second-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 140px;
    width: 600px;
    background-color: bisque;
    border-end-end-radius: 17px;
    border-bottom-left-radius: 17px;

}

.tablet {
    display: flex;
    width: 90px;
    height: 100px;
    border: solid;
    border-radius: 7px;
    flex-direction: row;
    margin: 3px;
}

.one,
.two,
.three,
.four,
.five,
.six {
    width: 90px;
    height: 110px;
    display: flex;
    flex-direction: row;
}