* {
  margin: 0;
  padding: 0;
  border: 0;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.first {
  background-color: #ffff00;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  font-weight: 700;
}

.second {
  background-color: #1abc9c;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: sans-serif;
}

.header,
.afterheader {
  color: #ffffff;
  font-family: sans-serif;
}

.header {
  font-weight: 700;
  font-size: 30px;
}

.links {
  height: 40px;
  display: flex;
  background-color: #333333;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.link {
  color: white;
  margin-left: 20px;
  font-family: sans-serif;
  text-decoration: none;
}

.main {
  display: flex;
  height: fit-content;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.lesshalf {
  display: flex;
  width: 70%;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 20px;
}
.bighalf {
  padding: 20px;
  width: 100%;
}

p {
  font-weight: 500;
  margin: 20px 0;
  font-family: sans-serif;
  font-weight: 500;
}

.gray {
  border-radius: 1px;
  background-color: #aaaaaa;
  height: 200px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.thinimg {
  justify-content: space-between;
  height: 50px;
  margin-top: 20px;
}

.three {
  display: flex;
  justify-content: space-between;

  flex-direction: column;
}
.second_title_heading {
  margin-top: 60px;
}
.uperend {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.end {
  display: flex;
  height: 80px;
  background-color: #dddddd;
  justify-content: center;
  align-items: center;
}

.last {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 600;
}
/* .header {
  content: "";
  animation-duration: 1s;
  animation-name: slidein;
  animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
} */

/* @keyframes slidein {
  0% {
    opacity: 1;
    color: blue;
  }

  50% {
    opacity: 1;
    color: yellow;
  }

  90% {
    display: none;
    opacity: 1;
    color: red;
  }
} */
