.above_all {
    border-radius: 20px;
    display: flex;
    height: 200px;
    width: 500px;
    box-shadow: 3px 3px 10px;
    border: solid;
    background-color: white;
    flex-direction: column;


}

body {
    background-color: brown;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

html {
    height: 90%;
}

.first_row {
    display: flex;
    justify-content: space-around;
    height: 100px;
    border-bottom: 1px solid;


}

.icon {
    display: flex;
    height: 100px;
    width: 200px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.line {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.the_first_part {
    display: flex;
    width: 60%;
    border-right: 3px solid black;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: aliceblue;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-bottom-left-radius: 17px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.above_third_n_second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.first_part {
    font-size: 40px;

}

.second_part {
    margin-top: 50px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.third_part {
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 25px;

}

.the_second_part {
    display: flex;
    height: 100px;
    width: 41%;
    border-bottom-right-radius: 17px;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;



}

#data1 {

    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}